@tailwind base;
@tailwind components;
@tailwind utilities;

.button {
  color: #ffffff;
  background: #bb0000;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

.button--outlined {
  color: #bb0000;
  background: none;
  border: 2px solid #bb0000;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

.title {
  font-size: 3.5rem;
}
