.button {
  color: #ffffff;
  background: red;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

.button--outlined {
  color: red;
  background: none;
  border: 2px solid red;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

.title {
  font-size: 3rem;
  background: none;
  text-transform: capitalize;
  font-weight: bold;
}

.header {
  background: #f4f4f4;
}

.header nav a {
  text-transform: uppercase;
}
